apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: user-db
  namespace: default
  name: user-db-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-db
  template:
    metadata:
      labels:
        app: user-db
    spec:
      containers:
        - image: mista123/users:latest
          name: user-db
          env:
            - name: DB_URL
              value: "83.212.127.63"
            - name: DB_PORT
              value: "5432"
            - name: DB_USER
              value: "postgres"
            - name: DB_PASSWORD
              value: "postgres"
            - name: DB_NAME
              value: "mistrdb"
          ports:
            - containerPort: 8080
              name: server
              protocol: TCP


---


apiVersion: v1
kind: Service
metadata:
  name: user-db
spec:
  type: LoadBalancer
  ports:
    - port: 8080
      protocol: TCP
      targetPort: server
  selector:
    app: user-db